body {
 font-family: Arial,sans-serif;
 background: lightslategrey;
}
.container {
width: 90%;
max-width: 700px;
margin: 30px auto;
background: white;
padding: 20px;
border-radius: 8px;
}
h1{
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
table th {
    background: #333;
    color: white;
}
.present {
    color: green;
    font-weight: bold;
}
.absent{
    color: red;
    font-weight: bold;

}
