/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

body{
    background-image: url(https://img.freepik.com/premium-photo/training-exercise-motivation-with-fitness-coach-personal-trainer-her-bodybuilder-student-during-workout-gym-health-sports-wellness-with-heathy-athlete-exercising_590464-78695.jpg?w=2000);
    height: 100vh;
    background-size: cover;
    background-position:center ;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #3a343425;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;

}
