body{
    background-color: black;
    color: snow;
}
h1{
    color: lightskyblue;
    font-family: monospace;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: transparent aqua
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 14px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #444;
  color: #4f5fb3; 
}
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li a {
    width: 100%;
    text-align: center;
  }
}